@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}
@foreach(var item in Model)
{
    <div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="~/img/posts/@item.Image" alt="..." /></a>
    <div class="card-body">
      
        <h2 class="card-title">@item.Title</h2>
        <p class="card-text">@item.Content</p>
        <a class="btn btn-primary" href="#!">Read more →</a>
    </div>
</div>
}
<!-- Featured blog post-->

<!-- Nested row for non-featured blog posts-->