@model Post
@{
    ViewBag.Title = "Detail";
}

<article>

<header class="mb-4">
 <!-- Post title-->
<h1 class="fw-bolder mb-1">@Model.Title</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2"></div>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" asp-controller="home" asp-action="Index" asp-route-cid="@Model.Category.Id" > @Model.Category.Name</a>
        
    </header>
    <!-- Preview image figure-->
    <figure class="mb-4"><img class="img-fluid rounded post-image" src="~/img/posts/@Model.Image" alt="..." /></figure>
    <!-- Post content-->
    <section class="mb-5">
        @Html.Raw(Model.Content);

    </section>
</article>
